<div class="metadata">
    <div class="avatar">
        <img [src]="post.author.avatar">
    </div>
    <div class="author">
        <!--
        |-----------------------------------------------------------------|
        | Red Path                                                        |
        |-----------------------------------------------------------------|
        | Un clic sobre el autor debería navegar a su colección de posts. |
        |-----------------------------------------------------------------|
        -->
        <span class="name blink-font" (click)="filtrarPorAutor()">{{ post.author.name }}</span>
        <!--
        |-------------------------------------------------------------------------------|
        | Blue Path                                                                     |
        |-------------------------------------------------------------------------------|
        | Una vez tengas creado el pipe FromNowPipe, úsalo con la fecha de publicación. |
        |-------------------------------------------------------------------------------|
        -->
        <span class="date">{{ post.publicationDate | FromNow }}</span>
    </div>
</div>

<!--
|--------------------------------------------------------------------------|
| Optional Path Broken White Path (AKA Blanco Roto)    
|--------------------------------------------------------------------------|
| Mostrar si no estoy editando
|--------------------------------------------------------------------------|
-->
<div class="post" *ngIf="modo === 'consulta'">
    <h3>{{ post.title }}</h3>
    <img *ngIf="post.media" [src]="post.media" class="u-max-full-width">
    <div class="html-text" [innerHtml]="plainTextToHtml(post.intro)"></div>
    <hr>
    <div class="html-text" [innerHtml]="plainTextToHtml(post.body)"></div>

    <!--
    |--------------------------------------------------------------------------|
    | Optional Path Broken White Path (AKA Blanco Roto)    
    |--------------------------------------------------------------------------|
    | Añadir botón de edición de formulario
    |--------------------------------------------------------------------------|
    -->
    <button (click)="switchMode()" class="button-primary u-pull-center">Editar post</button>

    <!--
    |--------------------------------------------------------------------------|
    | Yellow Path                                                              |
    |--------------------------------------------------------------------------|
    | Suscribe el componente CategoryBoxComponent al evento que hayas definido |
    | en él para notificar los clics sobre las categorías del post.            |
    |--------------------------------------------------------------------------|
    -->
    <category-box [categories]="post.categories" (categoriaPosts)="filtrarPorCategoria($event)"></category-box>
</div>


<!--
|--------------------------------------------------------------------------|
| Optional Path Broken White Path (AKA Blanco Roto)    
|--------------------------------------------------------------------------|
| Mostrar si estoy editando. Pasar post para recibirlo como @Input
|--------------------------------------------------------------------------|
-->
<post-form [post]="post" *ngIf="modo === 'editar'" (postSubmittedUpdated)="updatePost($event)"></post-form>